<!-- Page Header -->
    <header class="masthead" style="background-image: url('img/about-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
			<h1>Our History</h1>
			<p>Samarpan's was founded on 20th May 2014 by Mr. Pintu Shilaka.</p>
			<h1>Our Program</h1>
			<p>Samarpan aims to achieve the following goals.</p>
			<ul>
				<li>Rural Upliftment.</li>
				<li>Skill Developement for the School / College Dropouts.</li>
				<li>Skill Developement for Rural Women.</li>
			</ul>
			<h1>Our Mission</h1>
			<p>To provide quality education and skill developement to our community and inspire life long learning.</p>
			<h1>Our Achivements</h1>
			<p>Samarpan's Achivements</p>
			<h1>Our Team</h1>
          	<p>Samarpan has been lead by a very agile and youthful team.</p>
			<ul>
				<li>Mr. Pintu Shilaka (President)</li>
				<li>Mr. Virendra Patel (Vice President)</li>
				<li>Mr. Sunil Mishra (Secretary)</li>
				<li>Mr. Mukesh Panwar (Joint secretary)</li>
				<li>Mr. Sunny Wagde (Treasurer)</li>
				<li>Mr. Govind Mishra (Member)</li>
				<li>Mr. Pravesh Hargounka (Member)</li>
			</ul>
        </div>
      </div>
    </div>

    <hr>