 <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Samarpan</h1>
			  <h3>For Health Education And Environment Yuva Mandal Samiti</h3>
            </div>
          </div>
        </div>
      </div>
    </header>

   <!-- Main Content -->
   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-md-10 mx-auto">
	  <p>'Samarpan' a Sanskrit term means to 'Give yourself'. We have truly given ourselves to the society since the inception of "Samarpan" three years back.</p>
	  <p>The organization aims at providing service in the field of Education and runs programmes for training and placement. We has trained more than 900 students , ladies , housewives , and dropouts in the field of Education and various vocational skill development courses.<p>
	  <p>Samarpan takes pride in mentioning that we have done incredible work in the Placement stream as well.More than 250 women were trained at Samarpan for skill development and entrepreneurship.
	  Govt. Sponsored Udyog Adhar awareness related programmes were conducted by samarpan involving Industrial Giants like Maral and Century.
	  Skill developement programs were actively run by Samarpan where students were trained for courses like Medical Sales Representative (MSR) & Retail with outstanding results.</p>
	  <p>Samarpan has taken a step forward by training students in the health care sector through skill development program. Samarpan has always been a matter of value and dignity and hence due care was taken to maintain the standards of the works undertaken so far.There has been no compromise as far as the quality of Education is concerned.Samarpan is now looking forward to associate with the Ministry of Skill Development as a training partner to further raise the volume of expertise and training to maximise the advance to maximum students by reaching the untouched zones of the society.</p>
       </div>
     </div>
   </div>

   <hr>